
<template>
    <div class="container">
        <img  class='picture' src="./picture.png" alt="squares">
        <form>
            <span class="app-name">Fibonacci calculator</span>
            <input
                v-bind:value="startValue"
                @input="startValue = $event.target.value"
                class="input" type="text"
                placeholder="Input">
            <input
                id="find"
                class="input" type="text"
                placeholder="Result: XX">
        </form>
        <div class="btn-wrapper">
            <button @click="setFib" class="btn">Calculate</button>
        </div>
    </div>
</template>

<script>

export default {
  data () {
    return {
      startValue: ''
    }
  },
  methods: {
    fib () {
      let a = 1
      let b = 1
      for (let i = 3; i <= this.startValue; i++) {
        const c = a + b
        a = b
        b = c
      }
      return b
    },
    setFib () {
      document.getElementById('find').value = this.fib()
    }
  }
}
</script>

<style>
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f7f7f7;
}
.container{
    padding-top: 5%;
    width:max-content;
    margin: 0 auto;
}
.picture{
    display: block;
    max-width: 200px;
    margin: 0 auto;
}
.app-name{
    font-size: 20px;
    display: block;
    padding: 80px 0 30px 0;
    text-align: center;
    font-weight: 600;
    font-family:sans-serif;
}
.input{
    padding-left: 15px;
    display: block;
    margin: 0 auto;
    height: 35px;
    width: 300px;
    background-color:white;
    border-radius: 3%;
    border:none;
    margin-top: 15px;
}
.btn-wrapper{
    margin-top: 60px;
}
.btn{
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 50px;
    background-color:#2cca13;
    border:none;
    border-radius: 4%;
    color: white;
    font-weight: 600;
    cursor: pointer;
    font-size: 16px;
}
</style>
